# Environment variables
.env

# Storage and Indexes
/data/
/.cache/
/logs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
env.example/
venv/
ENV/
.venv/
.pytest_cache/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
